* {
    margin: 0;
    padding: 0;
  }
  
  .grid-container {
    padding: 5px;
  }
  .header {
  
    background-image: linear-gradient(to right, #c51f16, #16be4b, #b9c516);
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    text-decoration-line: underline;
  }
  .itema {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    font-family: "Raleway", sans-serif;
    background-color: #19b5ee;
    border: 3px solid #ea0f0f;
    border-radius: 5px;
    padding: 10px;
  }
  .itema ul {
    display: inline-block;
    text-align: left;
  }
  
  .itema ul li{
    text-decoration: none;
    color: #000000;
  }
  
  .itemb {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border: 2px solid #ea0f0f;
    border-radius: 5px;
  
    background-color: #35f3a7;
    display: flex;
  }
  .itemb .paragraph{
    margin: 10px;
    width: 40%;
    padding: 10px;
    border: 1px solid #0b4b25;
    border-radius: 5px;
    background-color: #2fe3ff;
  }
  
  .itemc {
    margin: 10px;
    text-decoration-line: underline;
    background-image: linear-gradient(to right, #c51f16, #b9c516, #c51f16);
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
  }
  .itemd {
    text-align: center;
    margin: auto;
    padding: 5rem;
    margin-top: 10px;
    border: 2px solid #026f10;
    border-radius: 5px;
    text-decoration-line: underline ;
    background-image: linear-gradient(#0ba115, #1342b0, #0ba115);
    display: flex;
  }
  
  .itemd .paragraph {
    margin: 50px;
    width: 30%;
    height: 6rem;
    padding: 10px;
    border: 2px solid #ca1a1a;
    border-radius: 10px;
    background-color: #d9cc0d;
  }
  .itemd .paragraph h3 {
    padding: 3px;
  }
  
  .one   { border: 1px solid grey;
      height: 35px;
      width: 100%;
      margin-top: 20px;
      text-align: center;
      color: white;
      background-color: rgb(235, 38, 38);
    }
  
  
  .heading 
  {
      margin-top: 3px;}
  
  
  .two{
    display:flex;
    gap: 5px;
    margin-top: 20px;
    
  
  }
  
  .flex1{ border: 1 px solid grey;
      height: 70px;
      width: 450px;
      color: white;
      text-align: center;
      background-color: green;
      font-size: 20px;
    }
  
  
  .flex2 {
    border: 1 px solid grey;
    height: 70px;
    width: 450px;
    color: whitesmoke;
    text-align: left;
    background-color: skyblue;
    font-size: 20px;
     }
  
  
  .flex3{
    border: 1 px solid grey;
    height: 70px;
    width: 450px;
    color: whitesmoke;
    text-align: left;
    background-color: blue;
    font-size: 20px;
    }
  
  
  
  .three {
    border: 4px solid rgb(233, 224, 224);
    height: 150px;
    width: 94%;
    color: whitesmoke;
    background-color: orange;
    display: flex;
  }
  
  .align {margin-top: -15px; }
  
  .four {
    border: 1px solid grey;
    height: 243px;
    width: 100px;
    margin-top: -245px;
    background-color: black;
    display: block;
    margin-left: 1360px;
  }
  
  
  .textalign{ 
    margin-left: 30px;
    color: white;
    font-size: 18px;
  }
  
  
  
  .five{
    border: 2px solid grey;
    height: 25px;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: aquamarine;
  }
  
  
  .table{ 
      border: 1px solid gray;
      width: 100%;
      margin-top: 10px;
  
  
      }